<section>
  <aside class="side-bar">
    <section>
      <h3>Campaigns</h3>

      <div>
        <ul>
          <li><a href="analytics/facebook">Facebook</a></li>
          <li><a href="analytics/twitter">Twitter</a></li>
        </ul>
      </div>
    </section>
  </aside>

  <section class="graph-content">
    <h3></h3> <!-- breadcrumb -->
    <div id="graph-date-range">** date range selector **</div>
    <div class="chart">
      <div class="chart-header"></div>
      <div class="chart-body"></div>
      <div class="chart-footer"></div>
    </div>
  </section>

  <section class="text-content"></section>
</section>